
.footer-style {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    display: table;
    vertical-align: middle;
    color: #fff;
     margin: auto auto; 

}
.py-2 {
    text-height: ;
    color: #000;
}