.select option[data-default] {
    color: #888;
}

imput[type="file"] {

    ang(en)::after {
        content: "Select file...";
    }
}

.titulo{
    text-align:center;
    padding: 1em;
    color: rgb(152, 211, 83) !important;
    border-radius:12px;
}

.container{
    padding-right:0 !important;
    padding-left:0 !important;
}

.cont{
    border: .5px solid rgba(0, 0, 0,.3);
    background:rgba(255, 255, 255 ,.7);
    color: #000;
    width: 60em !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.logo_U{
    margin-left:2em;
    margin-top: 5%;

}