body{
    margin:0 auto;   
    background-image: url("../../componentes/images/fondod.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;    
}
