

body {
    margin: 0 auto;
    background-image: url("../images/fondoa.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #17a2b8;
}

.formulario {
    position: relative;
    width: 657px;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    margin: -20rem auto;
    padding: 20px;
}

hr {
    width: 5px;
    border-top: 10px solid rgb(255, 255, 255);
}

.bt-sub {
    margin: auto;
    margin-bottom: 4%;
    display: block;
}

input {
    color: #6c757d;
    height: 27px;
    opacity: 1;
}

.check {
    color: #bbb;
}

.a-rest {
    word-wrap: break-word;
    color: rgb(228, 224, 224);
    border-left: rgb(228, 224, 224);
}

.a-rest:hover {
    color: #17a2b8;
}

p {
    width: 100%;
    font-size: 16px;
    color: #467EB7;
    font-weight: 600;
    line-height: 100%;
    border-bottom: 1px solid #bbb;
    margin: 0;
    padding-bottom: 7px;
}

img {
    opacity: 0.9;
}

.modal-header {
    text-align: left;
    background-color: rgb(248, 248, 248);
    color: #AD262A;
}

/* .modal-body {} */

.modal-footer {
    background-color: rgb(248, 248, 248);
    color: rgba(255, 255, 255, 0.9);
}

.btn-email {
    background: #007DAB;
    height: 40px !important;
    color: #fff;
    padding: 1%;
    display: inline-block;
}

.btn-close {
    background: #007DAB;
    width: auto;
    height: 40px !important;
    color: #fff;
    padding-left: 1.5%;
}

.modal-title {
    margin-left: 20% !important;
}

.rest {
    color: rgb(112, 111, 111);
}

/* footer */

.footer-style {
    position:fixed;
    bottom:0;
    clear:both;
    width:100%;
    height: 50%;
    color: #fff;
    background-color:rgba(67, 123, 157, .5);
   }


@media only screen and (max-width: 600px) {
    .formulario {
        margin: 0%;
        background-image: none;
        border: solid black;
    }
    body {
        margin: 0 auto;
    }
    .formulario {
        margin: 0%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
}