body {
    font-family: arial, sans-serif;
    font-size: 9pt; 
}

td {
    white-space: nowrap;   
}

table {
    width: auto;
    border-collapse:collapse; }

table.full { width: 100%;
}
table.fixed { table-layout:fixed 
}

th { padding: 0.5em; 
}
thead th { background: #444; color: #fff 
}
tbody th { 
    background: #f3f3f3;
    color: #333;
    border-right: 2px solid #fff;
}

tbody th.sub {background: #ddd; color: #333 }

td { padding: 12px; }
tr.even td { background: #f3f3f3; }


hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #000 solid;
}

.pages-listing td:first-child {
    width: 470px; word-wrap: break-word; padding-left: 30px;
}
.pages-listing td:last-child { padding-right: 30px; 
}
.pages-listing tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-left-radius: 12px;
}
.pages-listing tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-right-radius: 12px;
}