
.a2{
margin-left: 1%;    
}


.mg{
    margin-top: 15%;   

}

.mg1{
   
    height: 40%;
    margin-top: 3%;
    background-color: rgba(255,255,255,.8)
}

.container1{
    margin: 10%;
    
}