

.map{
    margin: 5%;  
}

.imge{
   border-radius: 1% !important;
  }

.panelu{
    margin: 5%;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    color:#fff;
}

h1{
    background-color: rgba(21, 57, 98, .8);
    color:#fff;
    text-align: center;
}

.panel p{
    padding: 3em;
    color: #333;
    font-size: 14px;
    margin: 0 25px;
    font-family: Ancizar_sans,Verdana,Geneva,Tahoma,sans-serif !important;
    font-weight: bold;
    text-align: left;
}

.parrafo {
    padding: 2%;

}

.container{
    width:60% !important;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}