


input {
  color: #6c757d;
  height: 27px;
  opacity: 1;
}

.check {
  color: #bbb;
}

.a-rest {
  word-wrap: break-word;
  color: rgb(228, 224, 224);
  border-left: rgb(228, 224, 224);
}

.a-rest:hover {
  color: #17a2b8;
}

.navbar {
  background-color: rgba(67, 123, 157, .5) !important;
}