
.mg{
    margin-top: 10%;   
}

.mg1{
    height: 40%;
    margin-top: 3%;
    background: rgba(0, 0, 0, .7)

}
.container1{
    margin: 5% 0 0 15%;
}

.input-group-text {
    min-width:100px;
}

table{
    margin-left: 30% !important;
    margin-bottom: 5%;
    background: #18121E;
    border:solid 1px black;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}



tr:nth-child(odd) {
    background-color: rgba(0,0,0, .4);
}

tr:nth-child(even) {
    background-color: rgba(0,0,0, .6);
}

td {
    width: 200px;
    height: 50px;
    padding-left: 1rem;
    text-align: center;
    border: 1px solid #944b43;
    white-space: nowrap;  
    color:#fff;
}

th{
    text-justify:auto;
    height: 30px;
    padding-left: 15rem;
    white-space: nowrap;  
    color:#062F4F;
}

.map{
    width: 800px;
    height: 450px; 
    background:rgba(255,255,255,.7);
    margin-bottom: 5%;
}