h2 {
    color: #17a2b8;
}

body {
    margin: 0 auto;
}

.formulario {
    margin: auto !important;
    /*margin: 10% auto;*/
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

hr {
    width: 5px;
    border-top: 10px solid rgb(255, 255, 255);
}

.bt-sub {
    margin: auto 17em 1em;
}

input[type='date']:after {
    color: #6c757d;
    opacity: 1;
    content: attr(placeholder);
}

input {
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    height: 1.7em !important;
    padding: 0.5em !important;
}

select{
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    height: 1.7em !important;
    padding:0em 0.7em !important;

}


label {
    margin-left: 0%;
}


.invalid {
    font-size: 0.8rem;

    color:#ec3f41;
}
.valid {
    font-size: 0.8rem;

    color:#3a7d34;
}
#pswd_info {
    display:none;
}

.container {
    margin: 6% auto  !important;
    max-width: 850px !important;
    max-height: 100% !important;

}  
.form-group {
    margin-bottom: 0.4rem !important;
}

.infopass{

}

@media only screen and (max-width: 600px) {
    .formulario {
        margin: 0%;
        background-image: none;
        border: solid black;
    }
    body {
        margin: 0 auto;
    }
    .formulario {
        margin: 0%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }
}