h1 {
    color: white;
    border: solid black;
    background: #5DBCD2;
}

body {
    margin: 0 auto;
    background-image: url("../images/fondoa.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.formulario {
    margin: 0 auto;
    background: rgba(0, 0, 0, .6);
    color: white;
}

hr {
    width: 5px;
    border-top: 10px solid rgb(255, 255, 255);
}

label {
    float: left;
    padding: 1%;
}

.form-control {
    border: 0;
    background: rgba(255, 255, 255, .9);
}

label {
    margin-left: 3rem;
}

.bt-sub {
    margin: auto;
    display: block;
}

