h1 {
    color: #17a2b8;
}

body {
    margin: 0 auto;
    background-image: url("../images/fondoa.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.formulario {
  position: relative;
  width: 657px;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  margin: 10rem auto;
  padding: 20px;
}

hr {
  width: 5px;
  border-top: 10px solid rgb(255, 255, 255);
}

.bt-sub {
  margin-bottom: 4%;
  display: block;
}

input {
  color: #6c757d;
  height: 27px;
  opacity: 1;
}

.check {
  color: #bbb;
}



.a-rest:hover {
  color: #17a2b8;
}

p {
  width: 100%;
  font-size: 16px;
  color: #467EB7;
  font-weight: 600;
  line-height: 100%;
  border-bottom: 1px solid #bbb;
  margin: 0;
  padding-bottom: 7px;
}


/* reponsive */

@media only screen and (max-width: 600px) {
  .formulario {
      margin: 0%;
      background-image: none;
      border: solid black;
  }
  body {
      margin: 0 auto;
  }
  .formulario {
      margin: 0%;
      background: rgba(0, 0, 0, 0.6);
      color: white;
  }
}


.navbar {
  background-color: rgba(67, 123, 157, .5) !important;
}